.sortorder:after {
    content: '\e253';
}

.sortorder.reverse:after {
    content: '\e252';
}


.navbar {
    border-radius: 0px;
}

.navbar-ftlom {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}

.navbar-brand {	
    color: white;
}

.navbar-brand:hover {
	color: white;
}

a, a:hover {
	text-decoration: none;
	color: white;
}


.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #E43838;
    color: yellow;
}


.nav > li > button {
	margin: 15px 0 0 15px;
}



/*
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
*/


/*
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
*/
