<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <h1>Login</h1>
                            <hr>
                            <button ng-click="login()">Entrar</button>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
